/**/
    body {
      background: skyblue;
    }

    #left {
      font-size: 40px;
      position:absolute; top:100px; left:2%; width:50%; height:40px;
    }

    #plus {
      font-size: 50px;
      position:absolute; top:80px; left:54%; width:10%; height:40px;
    }

    #right {
      font-size: 40px;
      position:absolute; top:145px; left:2%; width:50%; height:40px;
    }

    #equal {
      font-size: 50px;
      position:absolute; top:125px; left:54%; width:10%; height:40px;
    }

    #answer {
      background-color: aquamarine;
      font-size: 40px;
      position:absolute; top:190px; left:2%; width:50%; height:40px;
    }

    #start {
      position:absolute; top:245px; left:40%; width:20%; height:40px;
    }

    #check {
      position:absolute; top:245px; left:40%; width:20%; height:40px;
    }

    #newgame {
      position:absolute; top:245px; left:35%; width:30%; height:40px;
    }

    #result {
      position:absolute; top:300px; width:100%; height:25px;
    }

    #result2 {
      position:absolute; top:325px; width:100%; height:75px;
    }
